body {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  font-family: "Trebuchet ms";
  font-size: 15px;
  color: #ffffff;
  background-color: #111111; }

h1 {
  font-size: 48px;
  font-family: "Lobster";
  text-shadow: 0 3px #777777;
  margin: 30px 0 20px 0; }

section {
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article {
  margin: 30px 0; }

h2 {
  text-align: center;
  font-size: 12px;
  font-family: "Trebuchet MS"; }

a {
  text-decoration: none;
  color: #ffffff; }

h3 {
  margin: 0 0 6px 0; }

.classement ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left; }

.photo-joueur-classement {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  position: relative;
  top: 4px;
  border-radius: 20px; }

.joueur-classement {
  display: inline-block; }

.position-classement {
  margin: 0 5px 0 0; }

.score-classement {
  float: right;
  display: inline-block;
  position: relative;
  top: 6px; }

.boutons-connexion {
  display: block;
  text-align: center;
  width: 100%;
  margin: 10px 0; }

.bouton-connexion {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 0 0 0;
  border-radius: 50px;
  font-size: 12px;
  cursor: pointer;
  color: #ffffff; }

.bouton-son {
  display: inline-block;
  width: 30px;
  padding: 0;
  cursor: pointer;
  vertical-align: bottom; }

.bouton-connexion:hover {
  position: relative;
  top: 2px; }

#bouton-logout {
  background-color: #FF6600;
  -webkit-box-shadow: 0 5px #984D02;
  box-shadow: 0 5px #984D02;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px 6px 12px;
  font-size: 12px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none; }

#bouton-logout:hover {
  background-color: #984D02;
  -webkit-box-shadow: 0 3px #883D00;
  box-shadow: 0 3px #883D00;
  position: relative;
  top: 2px; }

#bouton-fb {
  font-family: "Arial";
  font-weight: bold;
  background-color: #132F83;
  -webkit-box-shadow: 0 5px #0A145C;
  box-shadow: 0 5px #0A145C; }

#bouton-fb:hover {
  background-color: #0A145C;
  -webkit-box-shadow: 0 3px #000011;
  box-shadow: 0 3px #000011; }

#bouton-twitter {
  font-family: "Verdana";
  font-weight: bold;
  background-color: #6699FF;
  -webkit-box-shadow: 0 5px #2255bb;
  box-shadow: 0 5px #2255bb; }

#bouton-twitter:hover {
  background-color: #2255bb;
  -webkit-box-shadow: 0 3px #003399;
  box-shadow: 0 3px #003399; }

#bouton-google {
  font-family: "Trebuchet ms";
  font-weight: bold;
  background-color: #880000;
  -webkit-box-shadow: 0 5px #550000;
  box-shadow: 0 5px #550000; }

#bouton-google:hover {
  background-color: #550000;
  -webkit-box-shadow: 0 3px #330000;
  box-shadow: 0 3px #330000; }

.classement {
  height: 200px;
  border-radius: 5px;
  font-size: 15px;
  padding: 18px;
  width: 47.5%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top; }

#classement-partie {
  background-color: #E7494A;
  -webkit-box-shadow: 0 7px #82292D;
  box-shadow: 0 7px #82292D;
  margin: 0 2% 0 0; }

#classement-semaine {
  background-color: #E7494A;
  -webkit-box-shadow: 0 7px #82292D;
  box-shadow: 0 7px #82292D;
  margin: 0 0 0 2%; }

#question {
  background: #778899;
  border-radius: 5px;
  padding: 20px 25px;
  -webkit-box-shadow: 0 7px #696969;
  box-shadow: 0 7px #696969;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#question-number {
  font-size: 23px;
  margin: 10px 0; }

#question-text {
  font-size: 18px;
  margin: 20px 0; }

footer {
  font-size: 10px;
  margin: 20px 0; }

@media screen and (max-width: 575px) {
  #classement-semaine {
    display: none;
    margin: auto; }

  .classement {
    width: 100%; }

  #classement-partie {
    margin: 0; } }
/************* valentin ************/
.reponse {
  display: block;
  width: 100%;
  height: 100%; }

#reponses {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer; }

#reponses ul {
  padding: 0;
  list-style: none; }

.button-reponse {
  display: inline-block;
  vertical-align: top;
  color: #FFFFFF;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 0 7px #696969;
  box-shadow: 0 7px #696969;
  background: #778899;
  width: 45.5%;
  font-size: 13px;
  line-height: 15px; }

.button-reponse:nth-child(1) {
  margin: 0 4% 25px 0; }

.button-reponse:nth-child(2) {
  margin: 0 0 25px 4%; }

.button-reponse:nth-child(3) {
  margin: 0 4% 12px 0; }

.button-reponse:nth-child(4) {
  margin: 0 0 12px 4%; }

.button-reponse:hover, .button-reponse:active, .button-reponse:focus {
  color: #FFFFFF;
  background: #FF6600;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px #984D02;
  box-shadow: 0 5px #984D02;
  position: relative;
  top: 2px; }

#contour-timer {
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 7px #999999;
  box-shadow: 0 7px #999999;
  border-radius: 5px;
  margin: 0 auto;
  padding: 13px 15px 7px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#timer-vide {
  width: 100%;
  height: 90%;
  background-color: #cccccc;
  -webkit-box-shadow: 0 -4px #999999;
  box-shadow: 0 -4px #999999;
  border-radius: 5px; }

#timer-plein {
  width: 0;
  height: 100%;
  background-color: #19A347;
  -webkit-box-shadow: 0 -4px #008A2E;
  box-shadow: 0 -4px #008A2E;
  border-radius: 5px; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.joueurs-dans-la-reponse {
  display: none;
  text-align: left; }

.joueurs-dans-la-reponse li {
  margin: 5px 0; }

.photo-joueur {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  vertical-align: middle; }

.pseudo-joueur {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px; }

@media screen and (max-width: 575px) {
  .button-reponse {
    width: 100%; }

  .button-reponse:nth-child(1), .button-reponse:nth-child(3), .button-reponse:nth-child(2), .button-reponse:nth-child(4) {
    margin: 0 0 25px 0; } }
#chat {
  display: none; }

@media screen and (min-width: 850px) {
  #jeu {
    display: inline-block;
    vertical-align: top;
    width: 67%;
    margin: 0 2% 0 0; }

  #chat {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 7px #999999;
    box-shadow: 0 7px #999999;
    border-radius: 5px;
    margin: 30px 0 0 0;
    padding: 17px 15px 13px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  #fond-chat_haut {
    height: 468px;
    background-color: #cccccc;
    -webkit-box-shadow: 0 -4px #999999;
    box-shadow: 0 -4px #999999;
    border-radius: 5px;
    overflow: auto; }

  #fond-chat_bas {
    margin: 20px 0 -25px 0;
    width: 100%;
    height: 60px;
    max-width: 100%;
    background-color: #cccccc;
    -webkit-box-shadow: 0 -4px #999999;
    box-shadow: 0 -4px #999999;
    border-radius: 5px;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 83px 5px 5px;
    font-family: "Trebuchet MS"; }

  #button-chat {
    background-color: #778899;
    padding: 5px 8px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px #696969;
    box-shadow: 0 3px #696969;
    border: 0;
    color: #ffffff;
    float: right;
    position: relative;
    bottom: 22px;
    right: 10px;
    font-family: "Trebuchet MS"; }

  #button-chat:hover, #button-chat:active {
    background-color: #696969;
    -webkit-box-shadow: 0 1px #555555;
    box-shadow: 0 1px #555555;
    bottom: 20px;
    cursor: pointer; } }
/***************************** Win ************************/
.win {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 150px;
  left: 0;
  top: 50%;
  color: #faa200;
  text-shadow: 0 3px #ba7900;
  font-family: "Lobster";
  font-weight: bold; }
