<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title>Majority Legacy</title>
	<!--[if lt IE 9]>
				<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
	<link href="css/main.css" media="all" rel="stylesheet" type="text/css" />
	<link href="css/fancybox.css" media="all" rel="stylesheet" type="text/css" />
	<link href="css/cookie.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="apple-touch-icon-precomposed" href="/images/logo.png" />
	<link rel="icon" type="image/png" href="/images/logo.png" />
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- ******************* Message banniere cookie ******************* -->
    <div class="ui-widget">
  		<div class="cookie-message ui-widget-header blue">
			<p>
				Les cookies assurent le bon fonctionnement de nos services. En poursuivant sur ce site, vous acceptez l'utilisation des cookies.
			</p>
			<a href="#inline" class="fancybox">En savoir plus</a>
			<div id="inline" style="width:400px;display: none;">
				<h3>En savoir plus</h3>
				<p>
					Les cookies nous servent pour vous connecter, pour nos scores.
				</p>
			</div>
  		</div>
    </div>

	<header>
		<h1>Majority Legacy</h1>
		<h2>
			<a href="../images/regles.jpg" class="fancybox help" data-fancybox-group="gallery">Comment jouer ?</a>
			<br/>
			<br/>
			Connecté en tant que:  <span id="pseudo-utilisateur"></span>
		</h2>

		<div class="boutons-connexion">
	  		<a href="/auth/facebook"><span class="bouton-connexion" id="bouton-fb">f</span></a>
	  		<a href="/auth/twitter"><span class="bouton-connexion" id="bouton-twitter">t</span></a>
	  		<a href="/auth/google"><span class="bouton-connexion" id="bouton-google">g+</span></a>
	  		<a href="/logout"><span id="bouton-logout">Log out</span></a>
	  		<img onclick="playAudio()" class="bouton-son" src="/images/play.png" id="playimg"></img>
	  		<img onclick="pauseAudio()" class="bouton-son" src="/images/pause.png" id="pauseimg" style="display:none"></img><br>
		</div>
	</header>
	
	<section>
		<article id="classement">
			<div class="classement" id="classement-partie">
				<h3>Partie en cours</h3>
				<ul>
					<li></li>
				</ul>
			</div>
			<div class="classement" id="classement-partie-precedente">
				<h3>Partie précédente</h3>
				<ul>
					<li></li>
				</ul>
			</div>
			<div class="classement" id="classement-semaine">
				<h3>Semaine en cours</h3>
				<ul>
					<li></li>
				</ul>
			</div>
		</article>
		
		<article id="question">
			<h2 id="question-number">Chargement...</h2>
			<p id="question-text">La question s'affichera ici</p>
		</article>
		
		<article id="contour-timer">
			<div id="timer-vide">
				<div id="timer-plein"></div>
			</div>
		</article>
		
		<article id="reponses">
			<ul>
				<li class="button-reponse noselect" id="reponse1">
					<span class="reponse">Réponse 1</span>
					<ul class="joueurs-dans-la-reponse" id="joueurs-dans-la-reponse1"></ul>
				</li>
				<li class="button-reponse noselect" id="reponse2">
					<span class="reponse">Réponse 2</span>
					<ul class="joueurs-dans-la-reponse" id="joueurs-dans-la-reponse2"></ul>
				</li>
				<li class="button-reponse noselect" id="reponse3">
					<span class="reponse">Réponse 3</span>
					<ul class="joueurs-dans-la-reponse" id="joueurs-dans-la-reponse3"></ul>
				</li>
				<li class="button-reponse noselect" id="reponse4">
					<span class="reponse">Réponse 4</span>
					<ul class="joueurs-dans-la-reponse" id="joueurs-dans-la-reponse4"></ul>
				</li>
			</ul>
		</article>

		<article class="win"></article>
	</section>

	<footer>
		<span>Créé dans le cadre d'un projet ISN. Tous droits réservés</span>

		<audio controles loop id="audio" width="0" height="0">
		  <source src="/sons/ambiance 2.mp3" type="audio/mp3">
		</audio>
		<audio controles id="winNotif" width="0" height="0">
		  <source src="/sons/win.mp3" type="audio/mp3">
		</audio>
	</footer>

	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/jquery.cookieBar.min.js"></script>
	<script src="/js/jquery.fancybox.pack.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/app.min.js"></script>
</body>
</html>